body { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.bg-darkblue { background: #030e48; }

.text-muted { color: #030e48; }

.bg-white { background: white; }

.text-darkblue { color: #030e48; }

.bg-black { background: black; }

.text-black { color: #000; }

.mx-w { max-width: 1200px; }

@media screen and (min-width: 900px) { .pr-lg-7 { padding-right: 10em; } }

@media screen and (min-width: 900px) { .px-lg-7 { padding-left: 5em !important; padding-right: 5em !important; } }

@media screen and (min-width: 1200px) { .px-mw-0 { padding-right: 0 !important; padding-left: 0 !important; } }

.logo { width: 50px; height: auto; border-radius: 40%; }

header a.text-dark:hover { color: #4F8A46 !important; }

#carouselControl { position: relative; }

#carouselControl .carousel-item { position: relative; }

#carouselControl .carousel-item img { height: 500px; }

@media screen and (min-width: 768px) { #carouselControl .carousel-item img { height: 800px; } }

#carouselControl .carousel-item .overlay { position: absolute; height: 500px; width: 100%; background-color: rgba(0, 0, 0, 0.5); top: 0; bottom: 0; right: 0; left: 0; }

@media screen and (min-width: 768px) { #carouselControl .carousel-item .overlay { height: 800px; } }

#carouselControl .carousel-caption { height: 500px; position: absolute; top: 0; bottom: 0; left: 10%; right: 10%; }

@media screen and (min-width: 768px) { #carouselControl .carousel-caption { height: 800px; } }

#carouselControl .carousel-caption .b { height: 10px; margin-bottom: -1px; background: #fff; }

#carouselControl .carousel-caption .b-t { width: 200px; }

#carouselControl .carousel-caption .b-b { width: 300px; }

#carouselControl .carousel-caption .bl { border-left: 10px solid #fff; }

#carouselControl .carousel-caption .bl h1 { font-weight: bold; font-size: 50px; }

#carouselControl .carousel-caption .bl p { font-size: 30px; font-weight: 300; }

#carouselControl .carousel-control-prev, #carouselControl .carousel-control-next { z-index: 10; background: white; width: 50px; height: 50px; }

.taral { position: relative; }

.taral p { font-size: 25px; }

.taral h2 { font-size: 40px; }

@media screen and (min-width: 990px) { .taral .card-array { position: absolute; z-index: 1; } }

.taral .card-array .item { width: 210px; height: 150px; border-right: 1px solid #ddd; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.taral .card-array .item span { font-size: 30px; color: #4F8A46; }

.img-array img { width: 100%; height: 300px; object-fit: cover; }

.border-line { width: 150px; height: 2px; position: relative; }

.border-line span { width: 50px; height: 2px; position: absolute; }

.cards .d-card { width: 300px !important; height: 400px !important; background-color: #eee; transition: all 0.5s; }

.cards .d-card:hover { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; transform: scale(1.1); }

.cards .border-bottom { border-bottom: 3px solid #000 !important; }

.aboutUs { background: url("./images/4.jpg"); height: 400px; position: relative; width: 100%; }

.aboutUs .overlay { position: absolute; height: 400px; width: 100%; background: rgba(0, 0, 0, 0.8); }

.aboutUs .about { max-width: 500px; max-height: 350px; }

.globalExpert img { object-fit: cover; width: 100%; height: 700px; }

.globalExpert h2 { font-size: 40px; }

.grow-box { position: relative; }

.grow-box .grow { width: 90%; margin: 0 5%; }

.footer img { width: 60px; height: 60px; }

.footer .bt span { width: 50px; height: 2px; }

.goToTop { position: fixed; bottom: 5px; right: 5px; display: none; }

.goToTop:hover i { background-color: #fff !important; }
